# Virtual environment  
venv/  

# Python bytecode  
__pycache__/  
*.pyc  
*.pyo  
*.pyd  

# Environment variables  
.env  

# Docker files  
*.dockerignore  
Dockerfile  

# Logs and temporary files  
logs/  
*.log  
*.out  
*.pid  

# AWS credentials (ensure they are stored securely, not in the repo)  
.aws/  
